body {
	background-color: #000000;
	color: #b71c1c;
}

a {
	cursor: pointer;
}

.center-block {
	width: 50%
	margin: 0 auto;
} 
.center-table {
	display: table;
	height: 350px;
	width: 300px;
}

.center-table p{
	display: table-cell;
	padding: 50px;
	vertical-align: middle;
}